                <div class="sidebar">
                    <ul class="nav-stacked">
                        <li class="h4">
                            <a href="{{path}}/doc/about.html">About</a>
                        </li>
                        <li class="h4">
                            <a href="{{path}}/doc/view.html">View</a>
                        </li>
                        <li class="h4">
                            <a href="{{path}}/doc/controller.html">Controller</a>
                        <li class="h4">
                            <a href="{{path}}/doc/model.html">Model</a>
                        </li>
                        <li class="h4">
                            <a href="{{path}}/doc/orm.html">ORM</a>
                        </li>
                        <!-- <li class="h4">
                            <a href="{{path}}/doc/templating.html">Templating</a>
                        </li> -->
                        <li class="h4">
                            <a href="{{path}}/doc/bootnode.html">Bootnode</a>
                        </li>
                        <li class="h4">
                            <a href="{{path}}/doc/debugger.html">Debugger</a>
                        </li>
                    </ul>
                </div>