                <div class="sidebar">
                    <span class="h2 dispb tar prl ptm">
                        <a href="{{path}}/doc/about.html">About</a>
                    </span>
                    <span class="nav-section-title h3 tar prl ptl">
                        Getting-Started
                    </span>
                    <ul class="nav-stacked">
                        <li>
                            <a href="{{path}}/doc/view.html">View</a>
                        </li>
                        <li class="active">
                            <a href="{{path}}/doc/controller.html">Controller</a>
                        <li>
                            <a href="{{path}}/doc/model.html">Model</a>
                        </li>
                        <li>
                            <a href="{{path}}/doc/orm.html">ORM</a>
                        </li>
                        <li>
                            <a href="{{path}}/doc/templating.html">Templating</a>
                        </li>
                        <li>
                            <a href="{{path}}/doc/bootnode.html">Bootnode</a>
                        </li>
                        <li>
                            <a href="{{path}}/doc/debugging.html">Debugger</a>
                        </li>
                    </ul>
                </div>